<!doctype html>

<html>
<head>
	<title>Profile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/hci-friends.js"></script>
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/hci-friends.css" rel="stylesheet">
</head>

<body>
	<div class="container">
	<h1>{{name}}</h1>
		<div class="friends">
			<img src="{{imageURL}}" alt="Person" class="img-responsive">
			<p>{{description}}</p>
		</div>
</div>
</body>
</html>
